.form{
  display: flex;
  max-width: 700px;
  margin: 0 auto 0 auto;
  gap: 15px;
}

.input{
  display: block;
  box-sizing: border-box;
  font-family: inherit;
  appearance: none;
  border: none;
  background-color: var(--color02);
  color: white;
  border-radius: 5px;
  padding: 12px 16px;
  font-size: 1.05rem;
  flex: 1 1 auto;
}

.input::placeholder{
  color: white;
}

.btn{
  background-color: var(--color03);
  color: white;
  border: none;
  box-sizing: border-box;
  font-family: inherit;
  font-weight: 500;
  font-size: 1.10rem;
  border-radius: 5px;
  padding: 0 15px;
  cursor: pointer;
}

.btn:is(:hover, :focus) {
  background-color: var(--color02);
}